@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
.video-text {
    position: absolute;
    bottom: 20px; /* Ajustez selon le besoin */
    left: 20px; /* Ajustez selon le besoin */
    color: white;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    /*border-right: .15em solid orange; /* Curseur de la machine à écrire */
     animation: typing 1s steps(10, end), blink-caret .50s step-end infinite;
     word-spacing: 8px;
}

 

.video-text {
    position: absolute;
    bottom: 150px; /* Ajustez selon le besoin */
    left: 50%; /* Ajustez selon le besoin */
    transform: translateX(-50%);
    color: white;
    font-size: 2vw;
   
}
</style>

 

 <video autoplay loop muted playsinline id="myVideo">
<source src="./videogame.mp4" type="video/mp4">
        Your browser does not support the video tag.
</video>

 

<div id="videoText" class="video-text"></div>

 

<script>
    document.getElementById('myVideo').addEventListener('play', function () {
        var text = "Bienvenue sur 2AG & Co, le site par excellence de consultation de vos ventes de jeux vidéos"; // Le texte à animer
        var words = text.split(" "); // Séparer le texte en mots

 

        var videoText = document.getElementById('videoText');
        videoText.innerHTML = ""; // S'assurer que le conteneur est vide

 

        function typeWriter(index) {
            if (index < words.length) {
                videoText.innerHTML += "<span>" + words[index] + "</span> "; // Ajouter chaque mot dans un span
                setTimeout(function () {
                    typeWriter(index + 1); // Passer au mot suivant
                }, 150); // Ajustez la vitesse de frappe ici
            }
        }

 

        typeWriter(0); // Démarrer l'animation avec le premier mot

 

});

 

</script>