@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="section">
        <section>
            <p>Dernière mise à jour : [19/03/2024]</p>
            <p>Bienvenue sur API_Sales ("Salwane", "Emmanuel", ou "Prince"). Nous nous engageons à protéger votre vie privée et à traiter vos informations personnelles avec respect et conformément à cette politique de confidentialité.</p>
        </section>
        <section>
            <h2>1. Informations que nous collectons</h2>
            <p>Nous pouvons collecter des informations vous concernant de plusieurs manières, y compris, mais sans s'y limiter, les informations que vous nous fournissez directement via des formulaires sur notre site, et les informations que nous collectons automatiquement lorsque vous visitez notre site, telles que votre adresse IP et les cookies.</p>
        </section>
        <section>
            <h2>2. Utilisation de vos informations</h2>
            <p>Nous utilisons les informations que nous collectons pour fournir, maintenir, et améliorer notre site; pour répondre à vos questions et demandes; pour personnaliser votre expérience; et pour vous envoyer des communications, y compris des annonces et des newsletters, si vous avez accepté de les recevoir.</p>
        </section>
        <section>
            <h2>3. Partage et divulgation d'informations</h2>
            <p>Nous ne vendons pas, ne louons pas, et ne partageons pas vos informations personnelles avec des tiers, sauf dans les cas suivants : conformément à la loi, pour protéger nos droits ou ceux d'autrui, en cas de vente d'entreprise ou de fusion, ou avec votre consentement explicite.</p>
        </section>
        <section>
            <h2>4. Sécurité de vos informations</h2>
            <p>Nous prenons des mesures raisonnables pour protéger les informations que nous collectons contre la perte, le vol, l'usage abusif, ainsi que l'accès, la divulgation, l'altération et la destruction non autorisés.</p>
        </section>
        <section>
            <h2>5. Vos choix et droits</h2>
            <p>Vous avez le droit de nous demander d'accéder, de corriger ou de supprimer vos informations personnelles. Vous pouvez également vous désinscrire de nos communications marketing à tout moment.</p>
        </section>
        <section>
            <h2>6. Modifications de notre politique de confidentialité</h2>
            <p>Nous pouvons mettre à jour cette politique de confidentialité de temps à autre. La version la plus récente de la politique de confidentialité sera toujours disponible sur notre site. Nous vous encourageons à consulter régulièrement cette page pour vous tenir informé de toute modification.</p>
        </section>
        <section>
            <h2>7. Contactez-nous</h2>
            <p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou le traitement de vos informations, veuillez nous contacter à notre email ou via notre page de contact sur notre site.</p>
        </section>
</div>